:root {
    --bg-title: #5964E0;
    --white-color: #FFF;
    --bg-btn: #5762e0;
    --bg-btn-hover: #939BF4;
    --text-color-main: #19202D;
    --text-color-grey: #6E8098;
    --color-blue: #5964E0;
    --bg-white: #F4F6F8;
    --color: #bbbee3;
    --color-hvr: #a9aee9;
    --bg-toggle: #F4F6F8;
    --red-err: #8b0000;
}